html,
body {
    height: 100%;
    background: url(../img/background.png) center center no-repeat;
    background-size: cover;
    background-color: #de4f4e;
}

h1 { color: #FFF; font-family: proxima-nova,sans-serif; text-align: center; }

.summary { display: none; }

.block { 
	background: #FFF; 
	margin-top: 30px;
	padding: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: proxima-nova,sans-serif;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.info { 
	background: #3f3f3e url(../img/bg-info.png) no-repeat; 
	color: #FFF;
    font-weight: 300;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
    font-family: proxima-nova,sans-serif;
}
.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: block;
}

.call { padding: 30px; color: #FFF; }
.call a { color: #FFF; font-size: 30px; }

.btn-primary { background: #43C9C3; border: 0; font-family: proxima-nova,sans-serif; }
.btn-primary:hover { background: #B94040; }

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container { padding: 30px 15px 20px; }

.jumbotron { background: #FFF; padding: 30px; }

.steps { list-style: none; margin: 0; padding: 0; text-align: center; }
.steps li { display: inline-block; text-align: center; margin: 15px; }
.steps span {
    color: #EC6D5F;
    border: 3px solid #EC6D5F;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 22px;
    display: block;
}
.steps a { color: #EC6D5F; }

.steps .active a, .steps .active span { color: #FFF !important; border-color: #FFF; }

tfoot { font-weight: 700; }

form div.required label.control-label:after { content: " * "; color: #de4f4e; }

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.not-set { color: #c55; font-style: italic; }
.hint-block { display: block; margin-top: 5px; color: #999; }

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px;
}

.model_tooltip { color: #de4f4e; float: right; text-align: center; }

@media ( max-width: 500px ) {
    .wrap > .container { padding: 10px; }
    .steps { display: none; }
}
